<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="2">
    <pkg-ref id="test1"/>
    <pkg-ref id="test2"/>
    <options customize="never" require-scripts="false"/>
		<license file="License"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.6.8"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="test1"/>
            <line choice="test2"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="test1" visible="false">
        <pkg-ref id="test1"/>
    </choice>
    <pkg-ref id="test1" version="1.0" onConclusion="none">test1-1.0.pkg</pkg-ref>
    <choice id="test2" visible="false">
        <pkg-ref id="test2"/>
    </choice>
    <pkg-ref id="test2" version="1.0" onConclusion="none">test2-1.0.pkg</pkg-ref>
</installer-gui-script>